
	    	* {
	    		padding: 0; 
	    		margin:0;
	    		font-family: Oxygen, sans-serif;

	    	} 
	    	body { 
	    		background: #222 url(http://img.ticall.tk/assets/bg1.jpg) center center fixed; 
	    		background-attachment: cover;
	    		color:#999;
	    		font-size: .8em;
	    	}
	    	h1 { 
	    		text-align: center; 
	    		font-size: 6em; 
	    		padding: 0; 
	    		margin: 0;
	    		font-weight: normal;
	    		font-family: 'Vampiro One', cursive;
	    		color:#111;
	    		text-shadow: 0 0 3px #333;
	    	}
	    	.clear {clear: both;}
	    	
	    	#status { position: fixed; bottom: 0; width: 100%; 
		    	background: rgba(0,0,0,.9); color:#999; font-family: monospace; font-size: .8em; padding:5px;}
		    #timer { position: fixed; top:50%; left:-5px; width: 80px; margin: -30px 0 0 0; padding: 5px; 
		    	font-size: 5em; font-family: monospace; text-align: center;
		    	background: #444; border-radius: 5px; z-index: 2000}
		    .red { background: #F00}

	    	#container {
	    		background: rgba(32,32,32,.95);
	    		box-shadow: 0 5px 10px #000;
	    		margin: 0px auto;
	    		padding: 20px;
	    		padding-top: 0;
	    	}

	    	.normal { width: 324px}
	    	.xtreme { width: 432px}
	    	.xxtreme { width: 540px}

	    	.cell {
				float: left;
				width: 100px;
				height: 100px;
				position: relative;
				margin: 4px;
				perspective: 200px;
			}

			.card {
				cursor:pointer;
				width: 100%;
				height: 100%;
				position: absolute;
				transition: transform .4s;
				transform-style: preserve-3d;
				transform-origin: right center;
		    }

			.flipped {
				transform: translateX( -100% ) rotateY( -180deg );
		    }

			figure { 
				margin:0;
				display: block;
				height: 100%;
				width: 100%;
				line-height: 90px;
				color: white;
				text-align: center;
				font-weight: bold;
				font-size: 100px;
				position: absolute;
				backface-visibility: hidden;
			}

			.front {background-image: linear-gradient(to bottom, #3D3D3D, #303030)}

			.back {
				background-image: linear-gradient(to bottom, #303030, #3D3D3D);
				transform: rotateY( 180deg );
		    }

		    .O {background-image: linear-gradient(to bottom, #cf2b4f, #980021)}
		    .X {background-image: linear-gradient(to bottom, #4F2BCF, #210098)}
		    .Z {background-image: linear-gradient(to bottom, #4FCF2B, #219800)}

		    .user { margin: 20px 0 20px 0;}
		    .user img { margin: 2px; width: 100px; height: 100px; 
		    			display:inline; perspective: 200px; outline-width: -1px; border:none; border-image-outset: none}
		    .user img:first-child { margin: 4px 3px 4px 4px;};